
@model BankingApp.Models.CreateCardViewModel
@using (Html.BeginForm("CreateCard", "Manage", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @*
        <div class="form-group">
            @Html.LabelFor(m => m.CardNumber, new { @class = "col-md-2 col-form-label" })
            @Html.TextBoxFor(m => m.CardNumber, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.CardNumber, "", new { @class = "text-danger" })
        </div>
    *@
    <br />
    <div class="form-group">
        @Html.LabelFor(m => m.CardType, new { @class = "col-md-2 col-form-label" })
        @Html.EnumDropDownListFor(m => m.CardType, "Select Type", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CardType, "", new { @class = "text-danger" })
        @Html.ValidationMessage("CooldownTimerError")
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Create Card</button>
}
