@model BankingApp.Models.DisplayTransferInfoViewModel
@if (Model.Transactions == null || !Model.Transactions.Any())
{
    <div class="alert alert-light" role="alert">
        Could not find any transfer data. Please create some.
    </div>
}
else
{
    <table class="table table-striped table-hover table-success">
        <thead>
            <tr class="table-dark">
                <th scope="col">Receiver Name - Account ID</th>
                <th scope="col">Sender Name - Account ID</th>
                <th scope="col">Type</th>
                <th scope="col">Amount</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var record in Model.Transactions)
            {
                if (record.Description == "Deposit")
                {
                    <tr>
                        <td colspan="2">@record.RecipientAccount.User.UserName - @record.SenderAccount.AccountID</td>
                        <td>@record.Description</td>
                        <td>@record.Amount</td>
                    </tr>
                }
                else if(record.Description == "Transfer")
                {
                    <tr>
                        <td>@record.SenderAccount.User.UserName - @record.SenderAccount.AccountID</td>
                        <td>@record.RecipientAccount.User.UserName - @record.RecipientAccount.AccountID</td>
                        <td>@record.Description</td>
                        <td>@record.Amount</td>
                    </tr>
                }
            }
        </tbody>
    </table>
}