@model BankingApp.Models.DisplayAccountInfoViewModel
@if (Model.Accounts == null || !Model.Accounts.Any())
{
    <div class="alert alert-light" role="alert">
        Could not find any bank account data. Please create some.
    </div>
}
else
{
    foreach (var account in Model.Accounts)
    {
        <div class="overflow-auto" style="max-height: 700px; border: 1px solid #ddd; padding: 8px;">
            <table class="table table-striped table-hover table-success">
                <thead>
                    <tr class="table-dark">
                        <th scope="col">Account ID</th>
                        <th scope="col">Account Type</th>
                        <th scope="col">Account Balance</th>
                        <th scope="col">Delete Account</th>
                        <th scope="col">Add Funds</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@account.AccountID</td>
                        <td>@account.AccountType</td>
                        <td>@account.Balance</td>
                        <td>
                            @using (Html.BeginForm("RemoveAccount", "Manage", new { accountID = account.AccountID }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <input type="submit" class="btn btn-outline-danger" value="Delete" />
                            }
                        </td>
                        <td style="width:310px;">
                            @using (Html.BeginForm("AddFunds", "Manage", new { accountID = account.AccountID, amount = Model.Amount }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-auto" style="padding:0px">
                                            @Html.TextBoxFor(m => m.Amount, new { @class = "form-control" })
                                        </div>
                                        <div class="col-sm-auto">
                                            <input type="submit" class="btn btn-outline-success" value="Add" />
                                        </div>
                                    </div>
                                </div>
                            }
                        </td>
                    </tr>
                </tbody>
                @if (Model.Cards.Any(c => c.AssociatedAccount == account.AccountID))
                {
                    <tr>
                        <td colspan="5">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr class="table-dark">
                                        <th scope="col">Card ID</th>
                                        <th scope="col">Card Type</th>
                                        <th scope="col">Card Number</th>
                                        <th scope="col">Key PIN</th>
                                        <th scope="col">Delete Card</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var card in Model.Cards.Where(c => c.AssociatedAccount == account.AccountID))
                                    {
                                        <tr>
                                            <td>@card.CardID</td>
                                            <td>@card.CardType</td>
                                            <td>@card.CardNumber</td>
                                            <td>@card.KeyPIN</td>
                                            <td>
                                                @using (Html.BeginForm("RemoveCard", "Manage", new { cardID = card.CardID }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                                {
                                                    @Html.AntiForgeryToken()
                                                    <input type="submit" class="btn btn-outline-danger" value="Delete" />
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </td>
                    </tr>
                }
            </table>
        </div>
    }
}