@using BankingAppCore.Models
@model CreateAccountViewModel
<div>
    <h3><u>Create Bank Account</u></h3>
    <br />
    @using (Html.BeginForm("CreateAccount", "Manage", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.AccountType, new { @class = "col-md-2 col-form-label" })
            <select asp-for="AccountType" class="form-control" asp-items="Html.GetEnumSelectList<BankingAppCore.Models.AccountType>()">
                <option value="">Select Type</option>
            </select>
            @Html.ValidationMessageFor(m => m.AccountType, "", new { @class = "text-danger" })
        </div>
        <br />
        <div class="form-group">
            @Html.LabelFor(m => m.Balance, new { @class = "col-md-2 col-form-label" })
            @Html.TextBoxFor(m => m.Balance, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Balance, "", new { @class = "text-danger" })
        </div>
        <br />
        <button type="submit" class="btn btn-light">Create Account</button>
        <br /><br /><br />
        <div class="entry-content">
            <strong>Rules:</strong>
            <ul>
                <li>An account type must be selected.</li>
                <li>The balance should be in decimal number format.</li>
            </ul>
        </div>
    }
</div>